.next
.turbo
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log
coverage
dist
.env*
Dockerfile*
docker-compose*.yml
README.md
certbot/conf/accounts
certbot/conf/archive
certbot/conf/live
certbot/conf/logs
certbot/conf/renewal
certbot/conf/renewal-hooks
**/Thumbs.db
